html,
body {
    background-color:Beige;
    margin-top:20px;
    
}





h1 {
    text-align:center;
}

p {  
    margin-left:100px;
    margin-right:100px;
    }

footer {
     
    margin-bottom: 20px;
}
    

