html,
body {
    background-color:Beige;
    margin-top:20px;
    
}





h1 {
    text-align:center;
}

p {  
  
    text-align:left;
    }

footer {
     
    margin-bottom: 20px;
    margin-left:20px;
    margin-right:10px;
}
    

